*{ 
	padding:0; 
	margin:0;
}
body,td,th,div{
	font-family:"微软雅黑";
	font-size: 14px;
	color: #000000;
}
body {
	background:#EDEDED;
	overflow:hidden;
}
p{
	line-height:150%;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
a:active {
	color: #000000;
	text-decoration: none;
}
img{ border:0px;}
li{ 
	list-style:none;
}
input{ outline:none;}

.f12b{
	font-weight:bold;
}
.f14{
	font-size:14px;
}
.f14b{
	font-size:14px;
	font-weight:bold;
}

.header{ width:100%; clear:both; background:#006E6B; overflow:hidden;}
.header .logo{ padding:30px 60px; overflow:hidden; float:left;}

.header .menu{ width:760px; float:left;}
.header .menu li{ float:left; width:125px; text-align:center; font:bold 18px/18px "微软雅黑"; margin:0 10px;}
.header .menu a{ display:block; color:#FFF; padding:82px 0 30px 0; text-decoration:none;}
.header .menu .a1{background:url(../images/index_13.png) no-repeat center 33px;}
.header .menu .a1:hover,.header .menu .a1hover{background:url(../images/index_13.png) no-repeat center 33px #098481;}

.header .menu .a2{background:url(../images/index_07.png) no-repeat center 33px;}
.header .menu .a2:hover,.header .menu .a2hover{background:url(../images/index_07.png) no-repeat center 33px #098481;}

.header .menu .a3{background:url(../images/index_12.png) no-repeat center 33px;}
.header .menu .a3:hover,.header .menu .a3hover{background:url(../images/index_12.png) no-repeat center 33px #098481;}

.header .menu .a4{background:url(../images/index_11.png) no-repeat center 33px;}
.header .menu .a4:hover,.header .menu .a4hover{background:url(../images/index_11.png) no-repeat center 33px #098481;}

.header .menu .a5{background:url(../images/index_14.png) no-repeat center 33px;}
.header .menu .a5:hover,.header .menu .a5hover{background:url(../images/index_14.png) no-repeat center 33px #098481;}

.header .nav{ width:200px; float:right; text-align:center; font:bold 20px/35px "微软雅黑"; color:#FFF; padding-top:32px; background:#098481; height:98px;}
.header .nav span{ font-size:26px;}

.main{ width:100%; margin:0 auto; clear:both;}

.index_left{ width:1336px; float:left;}
.index_right{ width:584px; height:947px; float:right; background:#0C8482; overflow:hidden;}

.scene{ width:1336px; height:780px; background:url(../images/index_21.jpg) no-repeat; margin:0 auto; clear:both; position:relative; cursor:pointer;}
.scene .car{ position:absolute; background:url(../images/index_37.png) no-repeat; width:98px; height:54px; z-index:1;}
.scene .car:hover .mask{ display:block;}
.scene .car .mask{background:url(../images/index_33.png) no-repeat; width:286px; height:330px; position:absolute; left:-50%; top:70px; transform: rotate(-15deg); display:none; padding:50px; }
.scene .car .mask b{ display:block; font:bold 46px/80px "微软雅黑"; color:#0c9f9b;}
.scene .car .mask li{ font:bold 36px/60px "微软雅黑"; color:#0c9f9b;}
.scene .car .mask span{ color:#000;}

.scene .car2{ position:absolute; background:url(../images/index_39.png) no-repeat; width:98px; height:54px; z-index:1;}
.scene .car2:hover .mask{ display:block;}
.scene .car2 .mask{background:url(../images/index_33.png) no-repeat; width:286px; height:330px; position:absolute; left:-50%; top:70px; transform: rotate(-15deg); display:none; padding:50px; }
.scene .car2 .mask b{ display:block; font:bold 46px/80px "微软雅黑"; color:#0c9f9b;}
.scene .car2 .mask li{ font:bold 36px/60px "微软雅黑"; color:#0c9f9b;}
.scene .car2 .mask span{ color:#000;}

.scene .man{ position:absolute; background:url(../images/index_41.png) no-repeat; width:64px; height:58px; z-index:1; cursor:pointer;}
.scene .man:hover .mask{ display:block;}
.scene .man .mask{background:url(../images/index_27.png) no-repeat; width:286px; height:211px; position:absolute; left:-250%; top:80px; display:none; padding:50px; }
.scene .man .mask b{ display:block; font:bold 46px/80px "微软雅黑"; color:#0c9f9b;}
.scene .man .mask li{ font:bold 36px/60px "微软雅黑"; color:#0c9f9b;}
.scene .man .mask span{ color:#000;}

.left_txt{ width:1256px; height:87px; background:#0D9F9C; float:left; padding:40px; overflow:hidden;}
.left_txt .legend{ width:457px; height:90px; float:left; border-right:1px solid #FCFEFF; }
.left_txt .legend dt{ float:left; font:bold 32px/87px "微软雅黑"; color:#FFF; padding-right:53px;}
.left_txt .legend dd{ float:left; font:bold 20px/43px "微软雅黑"; color:#FFF; width:208px;}
.left_txt .legend dd b{ width:100px; display:inline-block;}
.left_txt .legend dd span{ display:inline-block; width:20px; height:20px; background:#0CCC4B; border-radius:20px; margin-left:40px; margin-top:3px;}

.gonggao { height: 87px; width:790px; float:right; }
.announ { float: left; height: 87px; width: 600px; padding-top: 5px; padding-bottom: 5px; }
.announ b{ text-align: right; float: left; height: 87px; width: 90px; line-height: 40px; color: #c8161d; background: url(../images/index_29.png) no-repeat right; font-size: 13px; font-weight: bold; display:inline-block; }
#announ_list { float: right; height: 87px; width: 510px; line-height: 40px; overflow: hidden; }
#announ_list li { width:495px; height:87px; float:left; background-image: url(../images/ico-2.gif); background-repeat: no-repeat; background-position: 8px center; padding-left: 15px; font:bold 20px/87px "微软雅黑"; color:#FFF;}

.nTab{
width: 100%;
overflow:hidden;
margin:0 auto;
}
.nTab .TabTitle{
clear: both;
overflow: hidden;
background:#34BBB7;
position:relative;
}
.nTab .line{ width:2px; height:38px; background:#FFF; position:absolute; left:283px; top:10px;}
.nTab .TabTitle ul{
border:0;
margin:0;
padding:0;
}
.nTab .TabTitle li{
float: left;
width: 283px;
cursor: pointer;
list-style-type: none;
font:bold 20px/58px "微软雅黑";
text-align:center;
}
.nTab .TabTitle .active{ color:#FEFFFF;}

.nTab .TabTitle .normal{ color:#93D5DB;}

.nTab .TabContent{
width:auto;
margin: 0px auto;
}
.none {display:none;}


.nTab2{
width: 405px;
overflow:hidden;
float:left;
height:830px; 
background:#FFF; 
padding:30px;
}
.nTab2 .TabTitle{
clear: both;
overflow: hidden;
}
.nTab2 .TabTitle ul{
border:0;
margin:0;
padding:0;
}
.nTab2 .TabTitle li{
float: left;
width: 190px;
height:50px;
cursor: pointer;
list-style-type: none;
font:bold 20px/20px "微软雅黑";
text-align:center;
}
.nTab2 .TabTitle .active{ color:#0E9F9C; border-bottom:5px solid #0D9F9C;}

.nTab2 .TabTitle .normal{ color:#bbb;}

.nTab2 .TabContent{
width:auto;
margin: 0px auto;
}


.nTab3{
width: 552px;
overflow:hidden;
height:848px; 
background:#FFF; 
padding:30px;
margin:0 auto;
margin-top:25px;
margin-bottom:10px;
}
.nTab3 .TabTitle{
clear: both;
overflow: hidden;
}
.nTab3 .TabTitle ul{
border:0;
margin:0;
padding:0;
}
.nTab3 .TabTitle li{
float: left;
width: 190px;
height:50px;
cursor: pointer;
list-style-type: none;
font:bold 20px/20px "微软雅黑";
text-align:center;
}
.nTab3 .TabTitle .active{ color:#0E9F9C; border-bottom:5px solid #0D9F9C;}

.nTab3 .TabTitle .normal{ color:#bbb;}

.nTab3 .TabContent{
width:auto;
margin: 0px auto;
padding:20px 0;
}

.car_list{ width:100%; margin:0 auto; clear:both;}
.car_list h1{ font:bold 28px/70px "微软雅黑"; color:#FFF; padding-left:31px;}
.car_list h1 span{ color:#ffa902;}
.car_list li{ width:154px; float:left; font:bold 20px/35px "微软雅黑"; color:#FFF; text-align:center; margin-left:31px;}
.car_list li span{ display:block;}

.texts{ width:100%; margin:0 auto; clear:both; }
.texts h1{ font:bold 28px/50px "微软雅黑"; color:#FFF; padding-left:31px;}
.texts h2{ font:bold 22px/40px "微软雅黑"; color:#ffa902; padding-left:31px;}
.texts p{ font:bold 18px/32px "微软雅黑"; color:#FFF; padding-left:31px;}
.texts span{ color:#90F4F2;}
.texts i{ color:#90F4F2; font-style:normal; padding-left:43px;}

.nav_btn1{ width:525px; height:62px; background:#FFF; border-radius:5px; color:#0c8582; font:bold 32px/62px "微软雅黑"; text-align:center; margin:15px auto; clear:both;}

.nav_btn2{ width:525px; height:62px; background:#FFF; border-radius:5px; color:#0c8582; font:bold 18px/62px "微软雅黑"; text-align:center; margin:15px auto; clear:both;}
.nav_btn2 span{ font-size:28px;}

.nav_btn_list{ width:540px; margin:0 auto; clear:both;}
.nav_btn_list li{ width:203px; height:88px; border-radius:5px; border:1px solid #FFF; float:left; font:bold 18px/88px "微软雅黑"; color:#FFF; margin:0 7px 15px 8px; text-align:center; vertical-align: middle; padding:0 25px;}
.nav_btn_list li span{ font-size:48px; vertical-align: middle;}
.nav_btn_list li i{ font-size:36px; font-style:normal; display:inline-block; vertical-align: middle;}
.nav_btn_list .num{ width:475px; text-align:left; vertical-align: middle;}
.nav_btn_list .num i{ font-size:48px;}
.nav_btn_list .num u{ margin-right:90px;}
.nav_btn_list em{ float:left; color:#8BFCF8; font-style:normal;}
.nav_btn_list u{ float:right; text-decoration:none;}

.status_list{ width:525px; margin:0 auto; clear:both;}
.status_list li{ float:left; font:bold 18px/50px "微软雅黑"; color:#FFF;}
.status_list i{ display:inline-block; width:16px; height:16px; border-radius:20px; margin-left:40px; margin-top:3px; margin-right:10px;}
.status_list .run{ background:#0CCC4B;}
.status_list .stop{ background:#FF2033;}

.nav_btn_list2{ width:525px; margin:0 auto; clear:both; padding-top:20px; }
.nav_btn_list2 .btn1{ width:253px; height:62px; background:#FFA902; color:#FFF; font:bold 20px/60px "微软雅黑"; text-align:center; border:0; border-radius:5px; margin-right:13px; cursor:pointer;}
.nav_btn_list2 .btn2{ width:253px; height:62px; background:#FFF; color:#06837B; font:bold 20px/60px "微软雅黑"; text-align:center; border:0; border-radius:5px; cursor:pointer;}
.nav_btn_list2 .btn3{ width:525px; height:62px; background:#FFF; color:#06837B; font:bold 20px/60px "微软雅黑"; text-align:center; border:0; border-radius:5px; cursor:pointer; margin-top:40px;}


.main_list{ width:1805px; margin:0 auto; clear:both; padding:40px 0;}
.list_right{ width:1310px; height:890px; float:right; overflow:hidden;}

.myform{ width:100%; height:840px; margin:0 auto; clear:both; position:relative;}
.myform li{ border-bottom:1px solid #B9B9B9; clear:both; height:70px;}
.myform li b{ float:left; display:inline-block; color:#0c9f9b; font:bold 18px/70px "微软雅黑";}
.myform li p{ float:left; padding-top:10px;}
.myform .inp{ width:346px; height:50px; font:bold 20px/50px "微软雅黑"; padding:0 5px; border:0;}
.myform .sj{ width: 325px;}
.myform h1{ text-align:center; position:absolute; left:10px; bottom:0px;}
.myform .button{ width:382px; height:60px; background:#0D9F9C; font:bold 20px/60px "微软雅黑"; color:#FFF; border:0; border-radius:5px; cursor:pointer;}

.search-public {height:54px;width:140px; float:right; padding-top:15px;}
.search-public  select{display:none;}
.search-c1{height:42px;width:140px; float:left; background:#fff;}
.search-public  .select_box{color:#999999;width:140px;line-height:30px;float:left;position:relative; z-index:999999;}
.search-public  .select_showbox{line-height:42px; height:42px; font-size:20px; font-weight:bold; color:#989898;background:url(../images/list_03.png) no-repeat 110px center;}
.search-public  .select_option{border:1px solid #C6C6C6; display:none;left:-1px;top:42px;position:absolute;z-index:999;background:#fff; width:140px;}
.search-public  .select_option li{ text-align:center;width:140px;cursor:pointer;font-size:20px; color:#666; font-weight:bold; line-height:45px;}
.search-public  .select_option li.selected{color:#989898;}
.search-public  .select_option li.hover{color:#989898;}

.table1 th{ line-height:60px; font-weight:bold; font-size:20px; color:#0c9f9b; background:#E4F8F7;}
.table1 td{ line-height:60px; font-weight:bold; font-size:20px; color:#333; text-align:center; }
.one button{line-height:40px; font-weight:bold; font-size:20px; color:#333; background-color:#E4F8F7;margin:0 auto;width:45px;display:inline-block;margin-left:3px;cursor: pointer;}
.table1 a{ color:#0BA09A;}

.history_list{ width:1800px; height:820px; margin:0 auto; margin-top:25px; clear:both; padding:40px; background:#FFF;}
.history_list .title{ clear:both; padding-bottom:25px; overflow:hidden;}
.history_list .title h1{ float:left; color:#0c9f9b; font:bold 24px/24px "微软雅黑";}

.so_box { float: right; width: 362px; }
.so_input { line-height:36px; height:34px; width:242px; float:left; color: #A9A9A9; padding: 0 10px; border: 2px solid #0D9F9C; font-size: 16px; font-family:"微软雅黑";}
.so_button { line-height: 38px; text-align: center; float: left; height: 38px; width:95px; font-size: 20px; font-weight: bold; color: #FFFFFF; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; background: #0D9F9C; cursor:pointer; font-family:"微软雅黑";}
.nTab31{
	width: 1248px;
	overflow:hidden;
	height:830px; 
	background:#FFF; 
	padding:30px;
	margin:0 auto;
	}
	.nTab31 .TabTitle{
	clear: both;
	overflow: hidden;
	}
	.nTab31 .TabTitle ul{
	border:0;
	margin:0;
	padding:0;
	}
	.nTab31 .TabTitle li{
	float: left;
	width: 190px;
	height:50px;
	cursor: pointer;
	list-style-type: none;
	font:bold 20px/20px "微软雅黑";
	text-align:center;
	}
	.nTab31 .TabTitle .active{ color:#0E9F9C; border-bottom:5px solid #0D9F9C;}
	
	.nTab31 .TabTitle .normal{ color:#bbb;}
	
	.nTab31 .TabContent{
	width:auto;
	margin: 0px auto;
	padding:20px 0;
    }
	.radio {width: 30px;height: 30px;}